@import url('../../mailmindr-core.css');
@import url('../../../styles/lists.css');

html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    padding: -20px;
    background-color: -moz-dialog;
    /* -moz-default-background-color; */
}

footer {
    padding: 0.1em 0.5em;
    border-top: 1px solid silver;
    background-color: #eee;
}

footer div {
    text-align: center;
}

button.mailmindr-button--micro {
    font-size: 12px;
    height: unset;
    min-height: 21px;
}

button:hover {
    border-color: transparent;
}

.mailmindr-popup-header {
    border-bottom: 0.5px solid silver;
    /* padding: 0.75em 1em; */
    padding: 0.25em 0.5em;
    text-align: center;
    /* background: linear-gradient(45deg, var(--purple-40), var(--purple-50)); */
    background-color: #eee;
}

.mailmindr-popup-header button {
    margin: 0.25em;
    min-height: 23px;
}

.mailmindr-popup-header a {
    font-size: small;
    color: white;
}

.mailmindr-popup-header a:hover {
    color: silver;
}

.mailmindr-list {
    padding: 4px 0;
}

.mailmindr-list-item-content {
    display: grid;
    row-gap: 4px;
    grid-template-columns: auto auto;
    max-width: 320px;
    /* grid-template-areas:
        'subject    subject subject actions'
        'author     author  author  actions'
        'due        due     due     actions'
        'notes      notes   notes   actions'; */
    align-items: baseline;
    grid-template-areas:
        'subject subject'
        'author author'
        'due due'
        'notes notes';
}

.mailmindr-list-item--is-in-past .mailmindr-list-item-subject,
.mailmindr-list-item--is-in-past .mailmindr-list-item-author,
.mailmindr-list-item--is-in-past .mailmindr-list-item-duedate,
.mailmindr-list-item--is-in-past .mailmindr-list-item-note {
    color: gray;
}

.mailmindr-list-item-content:hover {
    grid-template-areas:
        'subject actions'
        'author author'
        'due due'
        'notes notes';
}

.mailmindr-list-item-content:hover .mailmindr-list-item-buttonpanel {
    display: inline;
    text-align: right;
}

.mailmindr-list-item-buttonpanel,
.mailmindr-list-item-subject {
    min-height: 22px;
    max-height: 22px;
}

.mailmindr-list-item-buttonpanel {
    display: none;
    background-color: none;
    grid-area: actions;
    place-self: center end;
}

.mailmindr-list-item-buttonpanel ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.mailmindr-list-item-buttonpanel li {
    display: inline;
    margin: 0px !important;
    padding: 0px !important;
}

.mailmindr-list-item-buttonpanel button {
    width: 21px;
    height: 21px;
    padding: 2px !important;
    margin: 0px !important;
    min-width: unset;
    min-height: unset;
    background-color: unset;
}

.mailmindr-list-item-buttonpanel button img {
    opacity: 40%;
}

.mailmindr-list-item-buttonpanel button:hover img {
    opacity: 100%;
}

.mailmindr-list-item-subject {
    grid-area: subject;
    font-weight: bold;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
}

.mailmindr-list-item-author {
    grid-area: author;
    font-size: 12px;
    padding-left: 12px;
}

.mailmindr-list-item-duedate {
    grid-area: due;
    font-size: 12px;
    padding-left: 12px;
}

.mailmindr-list-item-note {
    grid-area: notes;
    padding-left: 12px;
}

.mailmindr-list-item-actions {
    grid-area: actions;
    display: none;
}

.mailmindr-list-item {
    padding: 0.25em 0.75em;
    border: 2px solid transparent;
    border-radius: 4px;
}

.mailmindr-list-item[data-selected] {
    background-color: rgba(12, 12, 13, 0.1);
}

.mailmindr-list:focus .mailmindr-list-item[data-selected] {
    border: 2px solid var(--blue-50);
    /* border-radius: 4px; */
    /* -moz-outline-radius: 2px; */
}

.mailmindr-list-placeholder {
    border: 0.5px solid silver;
    /* linear-gradient(45deg, var(--purple-40), var(--purple-50)); */
    border-radius: 0.5em;
    margin: 1em;
}

.mailmindr-list-placeholder h2 {
    text-align: center;
}

.mailmindr-list-placeholder p {
    width: 275px;
    text-align: center;
    padding: 0.25em 1em;
    font-size: medium;
    color: var(--grey-90);
}

.mailmindr-list-label-wrapper {
    padding-left: 12px;
    margin-bottom: 2px;
}

.mailmindr-list-label {
    border-radius: 4px;
    color: var(--grey-90);
    text-transform: uppercase;
    padding: 2px 6px;
    margin: 2px;
    font-size: smaller;
    background-color: var(--yellow-50);
    display: inline;
}

.mailmindr-list-label--awaiting::before {
    content: '';
    height: 12px;
    width: 12px;
    background-image: url(chrome://messenger/skin/icons/hourglass.svg);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px;
}
.mailmindr-list-label--awaiting-reply-received {
    text-decoration: line-through;
}

@media (prefers-color-scheme: dark) {
    * {
        color: #f9f9fa;
    }

    body {
        color: #f9f9fa;
        background-color: #2a2a2e;
    }

    footer {
        background-color: var(--grey-90-a80);
    }

    .mailmindr-popup-header {
        background-color: var(--grey-90-a80);
    }

    .mailmindr-list-placeholder p {
        color: var(--grey-10);
    }
}
